{% extends 'main/template.html' %}
{% load crispy_forms_tags %}
{% block title %}Error{% endblock %}
{% block body %}
{% block sidebar %}
<li class="custom-icon"><i class="fa-solid fa-gear fa-lg" style="color: #787878;"></i> <a href="/settings/{{username}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Settings</p></a></li>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="display-4">
                    {{issue}}
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Websockets for recieving notifications -->
<script type="text/javascript">
    const notificationSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/brordcast-message/'
    );
    notificationSocket.onopen = function() {
        
    };

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data)
        $('#inbox').append(data.html_notification);
        var inbox = document.getElementById('inbox');
        inbox.insertAdjacentHTML('afterbegin', data.html_notification);

        var notificationElement = document.getElementById('notification-' + data.notification_id);
        var notification = new bootstrap.Toast(notificationElement);

        // Show the toast
        notification.show();
    };

    notificationSocket.onerror = function(e) {
        console.error('WebSocket encountered an error:', e);
    };

    notificationSocket.onclose = function(e) {
        console.error('WebSocket closed unexpectedly:', e);
    };
</script>
<!-- To store notifications -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="inbox">

</div>
{% endblock %}