{% load crispy_forms_tags %}
{% load static %}
{% load main_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="username" content="{{ username }}">
        <meta name="notification-count" content="{{ notification_count }}">
        <title>Feed | Arabali</title>
        <!-- CDN's -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{% static 'main/posts.js' %}"></script>
        <script type="text/javascript" src="{% static 'algorithum/scrolled_by.js'%}"></script>
        <script type="text/javascript" src="{% static 'algorithum/load_posts.js'%}"></script>
        <script type="text/javascript" src="{% static 'universal/notifications.js'%}"></script>
        <script type="text/javascript" src="{% static 'websockets/post_socket.js' %}"></script>
        <script type="text/javascript" src="{% static 'websockets/notification_socket.js' %}"></script>
        <!-- STYLES -->
        <link rel="stylesheet" href="{% static 'universal/sidebar.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <a href="/page/recommended|All/1" role="button" class="display-6 link-success link-offset-2 link-underline-opacity-0">Arabali</a>
                        </div>
                        <div class="col-4">
                            <form action="/search/q/1/1/1" method="post">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
            
                                        </div>
                                        <div class="col-6">
                                            {{search_bar|crispy}}
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasnav" aria-controls="offcanvasnav" style="height: 40px; width: fit-content;">
                                        <div class="fs-2"><i class="bi bi-list" style="color: #198754;"></i></div>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasnotify" aria-controls="staticBackdrop">
                                        <div class="fs-2"><i class="bi bi-bell-fill" id="bell-icon" style="color: #198754;"></i></div>
                                        <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notification-counter">{{ notification_count }}</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasnav" aria-labelledby="offcanvasnav">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"><p class="lead">More</p></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-2">
                            <ul>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-person" style="color: #787878;"></i></div> <a href="/profile/{{username}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Profile</p></a></li>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-rss-fill" style="color: #787878;"></i></div> <a href="/page/recommended|All/1" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Feed</p></a></li>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-chat-text" style="color: #787878;"></i></div> <a href="/chat/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Messages</p></a></li>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-gear-wide-connected" style="color: #787878;"></i></div> <a href="/settings/{{username}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Settings</p></a></li>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-box-arrow-right" style="color: #787878;" ></i></div> <a href="/logout/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Logout</p></a></li>                       
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasnotify" aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="notification-inbox" style="overflow-y: auto;">
                    <!-- loops though all notifications sent to the document -->
                    {% for notification in notifications.values %}
                    <div id="notification-{{notification.notification_object.pk}}" class="card mb-2" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                        <div class="card-header">
                            <button class="btn p-0" onclick='location.href="/chat/{{notification.notification_object.source.name}}/{{notification.notification_object.source.pk}}"' id="read-notification" data-notification-id="{{notification.notification_object.pk}}">
                                <img src="{{notification.notification_object.source.icon.url}}" class="rounded me-2" alt="" style="height: 2.5rem; width: 2.5rem">
                            </button>
                            <button class="btn p-0 pe-2" onclick="location.href='/chat/{{notification.notification_object.source.name}}/{{notification.notification_object.source.pk}}'" id="read-notification" data-notification-id="{{notification.notification_object.pk}}">
                                <strong class="me-auto">{{notification.notification_object.source.name}}</strong>
                            </button>
                            <small class="text-muted pe-2">{{notification.notification_object.timestamp}}</small>
                            <button type="button ms-2" class="btn-close" id="close-notification" aria-label="Close" data-notification-id="{{notification.notification_object.pk}}"></button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="{{notification.sender_pfp_url}}" class="rounded me-2" alt="" style="height: 2.5rem; width: 2.5rem">
                                    <em>{{notification.notification_object.sender}}</em>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    {% if notification.notification_object.relevant_message.text %}
                                        <p class="text-truncate">{{notification.notification_object.contents}}</p>
                                    {% elif notification.notification_object.relevant_poll %}
                                        <p class="text-truncate"><strong>Poll: </strong>{{notification.notification_object.contents}}</p>
                                    {% else %}
                                        {% if notification.notification_object.relevant_message.reply %}
                                            {% if notification.notification_object.relevant_message.image %}
                                                <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Image</strong></p>
                                            {% elif notification.notification_object.relevent_message.video %}
                                                <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Video</strong></p>
                                            {% elif notification.notification_object.relvevant_message.audio %}
                                                <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Audio</strong></p>
                                            {% else %}
                                            {% endif %}
                                        {% else %}
                                        <p class="text-truncate"><strong>{{notification.notification_object.contents}}</strong></p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card" id="post-card">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-evenly mt-4">
                                <button class="btn mt-3" onclick='location.href = "/add/"' style="height: 40px; width: fit-content;"><div class="fs-2"><i class="bi bi-file-earmark-plus" style="color: #198754;"></i></div></button>
                                <h2 class="display-4"> Hello {{username}} </h2>
                                <p></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            {% for post in posts %}
                                    <div class="col-12">
                                        <div class="card m-5">
                                            <div class="row">
                                                <div class="col m-2">
                                                    <button class="btn btn-light"><img class="border border-success" src="{{post.post_user_pfp_url}}" alt="{{post.post_username}}" onclick='location.href = "/profile/{{post.post_username}}"' style="width: 30px; height: 30px; border-radius: 15px;"></button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m-2">
                                                    <h6 class="display-6">{{post.post_username}}</h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="post-{{post.post_id}}-media-carousal" class="carousel slide">
                                                    <div class="carousel-indicators">
                                                        {% for media_obj in post.post_media %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <button type="button" data-bs-target="#post-{{post.post_id}}-media-carousal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                            {% else %}
                                                                <button type="button" data-bs-target="#post-{{post.post_id}}-media-carousal" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter0|add:1}}"></button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="carousel-inner">
                                                        {% for media_obj in post.post_media %}
                                                            {% if forloop.counter == 1 %}
                                                                <div class="carousel-item active">
                                                                    <img src="{{media_obj.media_url}}" class="d-block w-100"  alt="{{post.post_title}}'s Media: Slide {{forloop.counter}}" aria-current="true">
                                                                    <div class="carousel-caption d-block d-md-block">
                                                                        <p>{{media_obj.caption}}</p>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="carousel-item">
                                                                    <img src="{{media_obj.media_url}}" class="d-block w-100" alt="{{post.post_title}}'s Media: Slide {{forloop.counter}}">
                                                                    <div class="carousel-caption d-block d-md-block">
                                                                        <p>{{media_obj.caption}}</p>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#post-{{post.post_id}}-media-carousal" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#post-{{post.post_id}}-media-carousal" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row m-2">
                                                <div class="col">
                                                    <h3 class="display-6">{{post.post_title}}</h3>
                                                </div>
                                            </div>
                                            <div class="row m-1">
                                                <div class="col">
                                                    <p class="lead">{{post.post_contents}}</p>
                                                </div>
                                            </div>
                                            <div class="row m-1">
                                                <div class="col-6 d-flex justify-content-start">
                                                    <button type="button" class="btn" data-bs-target="#expand-{{post.post_id}}" data-bs-toggle="modal"><i class="bi bi-three-dots"></i></button>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    {% if post.has_liked %}
                                                        <button type="button" class="btn btn-success border border-success like-button like-button-{{post.post_id}} d-flex align-items-center pb-3 pt-2" data-post-id="{{post.post_id}}" style="height: 25px;">
                                                            <div class="row align-items-center">
                                                                <div class="col mt-1 d-flex justify-content-end">
                                                                    <i class="bi bi-hand-thumbs-up-fill" id="page-like-icon-{{post.post_id}}" style="color: #ffffff;"></i>
                                                                </div>
                                                                <div class="col mt-4">
                                                                    <p class="text-white" id="page-like-text-{{post.post_id}}">{{post.post_likes}}</p>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn border border-success like-button like-button-{{post.post_id}} d-flex align-items-center pb-3 pt-2" data-post-id="{{post.post_id}}" style="height: 25px;">
                                                            <div class="row align-items-center">
                                                                <div class="col mt-1 d-flex justify-content-end">
                                                                    <i class="bi bi-hand-thumbs-up" id="page-like-icon-{{post.post_id}}" style="color: #198754;"></i>
                                                                </div>
                                                                <div class="col mt-4">
                                                                    <p class="text-success" id="page-like-text-{{post.post_id}}">{{post.post_likes}}</p>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>    
                                        </div>
                                        <!-- modal -->
                                        <div id="expand-{{post.post_id}}" class="modal fade">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        Post
                                                        <button class="btn btn-close" data-bs-dismiss="modal" data-bs-target="#expand-{{post.post_id}}"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col m-2">
                                                                <button class="btn btn-light"><img class="border border-success" src="{{post.post_user_pfp_url}}" alt="{{post.post_username}}" onclick='location.href = "/profile/{{post.post_username}}"' style="width: 30px; height: 30px; border-radius: 15px;"></button>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col m-2">
                                                                <h6 class="display-6">{{post.post_username}}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col m-2">
                                                                <div id="modal-{{post.post_id}}-media-carousal" class="carousel slide">
                                                                    <div class="carousel-indicators">
                                                                        {% for media_obj in post.post_media %}
                                                                            {% if forloop.counter0 == 0 %}
                                                                                <button type="button" data-bs-target="#modal-{{post.post_id}}-media-carousal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                                            {% else %}
                                                                                <button type="button" data-bs-target="#modal-{{post.post_id}}-media-carousal" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter0|add:1}}"></button>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="carousel-inner">
                                                                        {% for media_obj in post.post_media %}
                                                                            {% if forloop.counter == 1 %}
                                                                                <div class="carousel-item active">
                                                                                    <img src="{{media_obj.media_url}}" class="d-block w-100"  alt="{{post.post_title}}'s Media: Slide {{forloop.counter}}" aria-current="true">
                                                                                    <div class="carousel-caption d-block d-md-block">
                                                                                        <p>{{media_obj.caption}}</p>
                                                                                    </div>
                                                                                </div>
                                                                            {% else %}
                                                                                <div class="carousel-item">
                                                                                    <img src="{{media_obj.media_url}}" class="d-block w-100" alt="{{post.post_title}}'s Media: Slide {{forloop.counter}}">
                                                                                    <div class="carousel-caption d-block d-md-block">
                                                                                        <p>{{media_obj.caption}}</p>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    <button class="carousel-control-prev" type="button" data-bs-target="#modal-{{post.post_id}}-media-carousal" data-bs-slide="prev">
                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Previous</span>
                                                                    </button>
                                                                    <button class="carousel-control-next" type="button" data-bs-target="#modal-{{post.post_id}}-media-carousal" data-bs-slide="next">
                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Next</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row m-2">
                                                            <div class="col">
                                                                <h3 class="display-6">{{post.post_title}}</h3>
                                                            </div>
                                                        </div>
                                                        <div class="row m-1">
                                                            <div class="col">
                                                                <p class="lead">{{post.post_contents}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <a class="btn btn-success" data-bs-toggle="collapse" href="#liked-by-{{post.post_id}}" role="button" aria-expanded="false" aria-controls="liked-by-{{post.post_id}}">Liked By</a> 
                                                            </div>
                                                            <div class="col-8 d-flex justify-content-end">
                                                                {% if post.has_liked %}
                                                                    <button type="button" class="btn btn-success border border-success like-button like-button-{{post.post_id}} d-flex align-items-center pb-3 pt-2" data-post-id="{{post.post_id}}" style="height: 25px;">
                                                                        <div class="row align-items-center">
                                                                            <div class="col mt-1 d-flex justify-content-end">
                                                                                <i class="bi bi-hand-thumbs-up-fill" id="modal-like-icon-{{post.post_id}}" style="color: #ffffff;"></i>
                                                                            </div>
                                                                            <div class="col mt-4">
                                                                                <p class="text-white" id="modal-like-text-{{post.post_id}}">{{post.post_likes}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" class="btn border border-success like-button like-button-{{post.post_id}} d-flex align-items-center pb-3 pt-2" data-post-id="{{post.post_id}}" style="height: 25px;">
                                                                        <div class="row align-items-center">
                                                                            <div class="col mt-1 d-flex justify-content-end">
                                                                                <i class="bi bi-hand-thumbs-up" id="modal-like-icon-{{post.post_id}}" style="color: #198754;"></i>
                                                                            </div>
                                                                            <div class="col mt-4">
                                                                                <p class="text-success" id="modal-like-text-{{post.post_id}}">{{post.post_likes}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </button>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="collapse card m-1" id="liked-by-{{post.post_id}}">
                                                                    <ul class="list-group list-group-flush">
                                                                        {% for liked_by in post.post_liked_by %}
                                                                            <button type="button" class="btn mb-2 d-inline-flex">
                                                                                <img src="{{liked_by.user_pfp_url}}" alt="{{liked_by.username}}'s Profile Picture"  style="width: 30px; height: 30px;">
                                                                                <p class="p-0 m-0 ms-2">{{liked_by.username}}</p>
                                                                            </button>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col text-center">
                                                                <p class="lead">Date Created: {{posts.created_at}}</p>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="lead text-center">Comments:</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex justify-content-center">
                                                                <!-- Comments form -->
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <div class="mb-3">
                                                                            <label for="comment-text-{{post.post_id}}" class="form-label">Comment</label>
                                                                            <input type="text" class="form-control" id="comment-text-{{post.post_id}}" placeholder="Add Comment...">
                                                                        </div>   
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <br>
                                                                        <button type="button" class="btn btn-success mt-2 ms-5 add-comment" data-post-id="{{post.post_id}}">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- comments -->
                                                        <div id="comments-container-{{post.post_id}}">
                                                            {% for commentPk, commentData  in post_comments.items %}
                                                                {% if commentData.post_id|stringformat:"%s%s" == posts.id|stringformat:"%s%s" %}
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="card p-3 m-2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        {% for user_key, user_value in post_users.items %}
                                                                                            {% if user_key|stringformat:"%s%s" == commentData.user|stringformat:"%s%s" %}
                                                                                                <img class="border border-success" src="{{user_value}}" alt="" style="height:20px; width: 20px; border-radius: 10px;">
                                                                                                <strong>{{commentData.user}}</strong>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        {{ commentData.text }} 
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-4">
                                                                                        <a href="#nested-comments-{{commentPk}}" data-bs-toggle="collapse" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Replies</a>
                                                                                    </div>
                                                                                    <div class="col-8 d-flex justify-content-end">
                                                                                        {% if user_liked_by in subCommentData.liked__by.all %}
                                                                                            <button type="button" class="btn btn-success border border-success comment-like-button comment-like-button-{{commentPk}} d-flex align-items-center pb-3 pt-2" data-comment-id="{{commentPk}}" style="height: 25px;">
                                                                                                <div class="row align-items-center">
                                                                                                    <div class="col mt-1 d-flex justify-content-end">
                                                                                                        <i class="bi bi-hand-thumbs-up-fill" id="comment-like-icon-{{commentPk}}" style="color: #ffffff;"></i>
                                                                                                    </div>
                                                                                                    <div class="col mt-4">
                                                                                                        <p class="text-white" id="comment-like-text-{{commentPk}}">{{commentData.likes}}</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </button>
                                                                                        {% else %}
                                                                                            <button type="button" class="btn border border-success comment-like-button comment-like-button-{{commentPk}} d-flex align-items-center pb-3 pt-2" data-comment-id="{{commentPk}}" style="height: 25px;">
                                                                                                <div class="row align-items-center">
                                                                                                    <div class="col mt-1 d-flex justify-content-end">
                                                                                                        <i class="bi bi-hand-thumbs-up" id="comment-like-icon-{{commentPk}}" style="color: #198754;"></i>
                                                                                                    </div>
                                                                                                    <div class="col mt-4">
                                                                                                        <p class="text-success" id="comment-like-text-{{commentPk}}">{{commentData.likes}}</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </button>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <div class="collapse" id="nested-comments-{{commentPk}}">
                                                                                            <div class="row">
                                                                                                <div class="col">
                                                                                                    <!-- For repling -->
                                                                                                    <div class="row">
                                                                                                        <div class="col-8">
                                                                                                            <div class="mb-3">
                                                                                                                <label for="reply-text-{{commentPk}}" class="form-label">Reply</label>
                                                                                                                <input type="text" class="form-control" id="reply-text-{{commentPk}}" placeholder="Add reply...">
                                                                                                            </div>   
                                                                                                        </div>
                                                                                                        <div class="col-4">
                                                                                                            <br>
                                                                                                            <button type="button" class="btn btn-success mt-2 ms-5 add-reply" data-comment-id="{{commentPk}}">Reply</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <br>
                                                                                            <div id="replies-container-{{commentPk}}">
                                                                                                {% for subCommentPk, subCommentData in post_replies.items %} 
                                                                                                    {% if subCommentData.comment_id|stringformat:"%s%s" == commentData.id|stringformat:"%s%s" %}
                                                                                                        <div class="card p-1">
                                                                                                            <div class="row">
                                                                                                                <div class="col">
                                                                                                                    {% for user_key, user_value in post_users.items %}
                                                                                                                        {% if user_key|stringformat:"%s%s" == subCommentData.user|stringformat:"%s%s" %}
                                                                                                                            <img class="border border-success" src="{{user_value}}" alt="{{ subCommentData.user }}'s Profile Picture" style="height:20px; width: 20px; border-radius: 10px;">
                                                                                                                            <em>{{ subCommentData.user }}</em>
                                                                                                                        {% endif %}
                                                                                                                    {% endfor %}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="row">
                                                                                                                <div class="col">
                                                                                                                    {{subCommentData.text}}
                                                                                                                </div>
                                                                                                                <div class="col d-flex justify-content-end">
                                                                                                                    {% if user_liked_by in subCommentData.liked__by.all %}
                                                                                                                        <button type="button" class="btn btn-success border border-success nested-comment-like-button nested-comment-like-button-{{subCommentPk}} d-flex align-items-center pb-3 pt-2" data-comment-id="{{subCommentPk}}" style="height: 25px;">
                                                                                                                            <div class="row align-items-center">
                                                                                                                                <div class="col mt-1 d-flex justify-content-end">
                                                                                                                                    <i class="bi bi-hand-thumbs-up-fill" id="nested-comment-like-icon-{{subCommentPk}}" style="color: #ffffff;"></i>
                                                                                                                                </div>
                                                                                                                                <div class="col mt-4">
                                                                                                                                    <p class="text-white" id="nested-comment-like-text-{{subCommentPk}}">{{subCommentData.likes}}</p>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </button>
                                                                                                                    {% else %}
                                                                                                                        <button type="button" class="btn border border-success nested-comment-like-button nested-comment-like-button-{{subCommentPk}} d-flex align-items-center pb-3 pt-2" data-comment-id="{{subCommentPk}}" style="height: 25px;">
                                                                                                                            <div class="row align-items-center">
                                                                                                                                <div class="col mt-1 d-flex justify-content-end">
                                                                                                                                    <i class="bi bi-hand-thumbs-up" id="nested-comment-like-icon-{{subCommentPk}}" style="color: #198754;"></i>
                                                                                                                                </div>
                                                                                                                                <div class="col mt-4">
                                                                                                                                    <p class="text-success" id="nested-comment-like-text-{{subCommentPk}}">{{subCommentData.likes}}</p>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </button>
                                                                                                                    {% endif %}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <br>
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>   
                                                                    </div>
                                                                {% endif %} 
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                        {% if type.popular %} 
                            <div class="end-of-posts" data-increment="1" data-catergory="popular"></div>
                        {% elif type.recommended %}
                            <div class="end-of-posts" data-increment="1" data-catergory="recommended"></div>
                        {% else %}
                            <div class="end-of-posts" data-increment="1" data-catergory="all"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="position: fixed;">
                        <div class="row">
                            <div class="col">
                                <h4 class="display-6 text-center">What do you want to look at?</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <div class="card">
                                    <a href="/page/popular|All/1" class="text-center link-success link-offset-2 link-underline-opacity-0">Popular</a>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="card">
                                    <a href="/page/recommended|All/1" class="text-center link-success link-offset-2 link-underline-opacity-0">Recommended</a>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="card">
                                    <a href="/page/catch_up/1" class="text-center link-success link-offset-2 link-underline-opacity-0">Catch Up</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!-- For the popular page -->
                        {% if type.popular %} 
                            <div class="row">
                                <div class="col">
                                    <h4 class="display-6 text-center">Trending Currently:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m-2">
                                    <div class="card">
                                        <a href="/page/popular|All/1" class="text-center link-success link-offset-2 link-underline-opacity-0">All</a>
                                    </div>
                                </div>
                                {% for trend in trend_catagories %}
                                    <div class="col m-2">
                                        <div class="card">
                                            <a href="/page/popular|{{trend.name}}/1" class="text-center link-success link-offset-2 link-underline-opacity-0">{{trend.name}}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- For the recommended page -->
                        {% if type.recommended %}
                            <div class="row">
                                <div class="col">
                                    <h4 class="display-6 text-center">Recommended Catergories:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m-2">
                                    <div class="card">
                                        <a href="/page/recommended|All/1" class="text-center link-success link-offset-2 link-underline-opacity-0">All</a>
                                    </div>
                                </div>
                                {% for trend in trend_catagories %}
                                    <div class="col m-2">
                                        <div class="card">
                                            <a href="/page/recommended|{{trend.name}}/1" class="text-center link-success link-offset-2 link-underline-opacity-0">{{trend.name}}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>        
            </div>
        </div>
        <!-- To store notifications -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="inbox"></div>
    </body>
</html>
