
{% extends 'main/template.html' %}
{% load static %}
<style>
</style>

{% block title %}For You{% endblock %}
{% block topbar %}
        <button class="user-profile" onclick='location.href = "/profile/{{username}}"'><img src="{{user.pfp.url}}" alt="pfp" class="user-image"></button>
{% endblock %} 
{% block body %}

<br>
<br>
<div class="card contents">
    <h2 class="display4"> Hello {{username}}. </h2>
    <br>
    <button class="btn btn-success add" onclick='location.href = "/add/"'>+</button>
    <form method="post", id="post-form">
        {% csrf_token %}
    {% for posts in post %}
    <div class="card post">
        <div>
            <button class="pfp_button"> <img src={{posts.user_pfp.url}} class="pfp_image", onclick='location.href = "/profile/{{posts.user}}"'/> </button>
            <h6 class="display4">{{posts.user}}</h6>
        </div>
        <img src="{{posts.media_mp3.url}}" alt="image">
        <br>
        <h3 class="display4">{{posts.title}}</h3>
        <p>{{posts.contents}}</p>
        <button type="submit" id="like{{posts.id}}" class="btn btn-outline-success like " data-post-id="{{posts.id}}">Like | {{posts.likes}}</button>
        <!--<button type="menu" class="btn btn-primary" data-bs-target="#expand", data-bs-toggle="modal">Expand</button>-->
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                hello
            </div>
        </div>
    </div>
    {% endfor %}
    </form>
    
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.like').click(function() {
            console.log('clicked')
            var postId = $(this).data('post-id');
            console.log('Post ID:', postId);
            var button = $(this);
            console.log('defined')
            $.ajax({
                type: 'POST',
                url: '/page/liked/',
                data: {
                    'post_id': postId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                
                success: function(response) {
                    console.log('success')
                    button.text('Like | ' + response.likes);
                },
                error: function(xhr, errmsg, err) {
                    console.log('Error:', xhr.ststus, xhr.statusText);
                },
                beforeSend: function(xhr, settings) {
                    console.log('Before send:', settings);
                    console.log('i.hasContent:', settings.hasContent);
                    console.log('i.data:', settings.data);
                }
            });
        });
        $(document).on('submit', '#post-form', function(e) {
            e.preventDefault()
            console.log('prevented');
        });
    });
</script>
{% endblock %}