{% extends 'main/template.html' %}
{% load crispy_forms_tags %}
{% load main_filters %}
{% load static %}

<!-- Title of the page -->
{% block title %}
    Search Results For: {{query}} | Arabali
{% endblock %}

<!-- For the sidebar -->
{% block topsidebar %}
    <li class="custom-icon"><div class="fs-4"><i class="bi bi-person" style="color: #787878;"></i></div> <a href="/profile/{{username}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Profile</p></a></li>
{% endblock %}

{% block middlesidebar %}
    <li class="custom-icon"><div class="fs-4"><i class="bi bi-gear-wide-connected" style="color: #787878;"></i></div> <a href="/settings/{{username}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Settings</p></a></li>
{% endblock %}

<!-- For page specific scripts -->
{% block scripts %}
    <script type="module" src="{% static 'universal/notifications.js'%}"></script>
    <script type="module" src="{% static 'websockets/post_socket.js' %}"></script>
    <script type="module" src="{% static 'websockets/notification_socket.js' %}"></script>
{% endblock %}

<!-- Notifications -->
{% block notifications %}
    <!-- loops though all notifications sent to the document -->
    {% for notification in notifications.values %}
        <div id="notification-{{notification.notification_object.pk}}" class="card mb-2" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="card-header">
                <button class="btn p-0" onclick='location.href="/chat/{{notification.notification_object.source.name}}/{{notification.notification_object.source.pk}}"' id="read-notification-{{notification.notification_object.pk}}">
                    <img src="{{notification.notification_object.source.icon.url}}" class="rounded me-2" alt="" style="height: 2.5rem; width: 2.5rem">
                </button>
                <button class="btn p-0 pe-2" onclick="location.href='/chat/{{notification.notification_object.source.name}}/{{notification.notification_object.source.pk}}'" id="read-notification-{{notification.notification_object.pk}}">
                    <strong class="me-auto">{{notification.notification_object.source.name}}</strong>
                </button>
                <small class="text-muted pe-2">{{notification.notification_object.timestamp}}</small>
                <button type="button ms-2" class="btn-close" id="close-notification-{{notification.notification_object.pk}}" aria-label="Close"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="{{notification.sender_pfp_url}}" class="rounded me-2" alt="" style="height: 2.5rem; width: 2.5rem">
                        <em>{{notification.notification_object.sender}}</em>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2">
                        {% if notification.notification_object.relevant_message.text %}
                            <p class="text-truncate">{{notification.notification_object.contents}}</p>
                        {% elif notification.notification_object.relevant_poll %}
                            <p class="text-truncate"><strong>Poll: </strong>{{notification.notification_object.contents}}</p>
                        {% else %}
                            {% if notification.notification_object.relevant_message.reply %}
                                {% if notification.notification_object.relevant_message.image %}
                                    <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Image</strong></p>
                                {% elif notification.notification_object.relevent_message.video %}
                                    <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Video</strong></p>
                                {% elif notification.notification_object.relvevant_message.audio %}
                                    <p class="text-truncate">({{notification.notification_object.relevant_message.sender.user.username}} Replied to You): <strong>Audio</strong></p>
                                {% else %}
                                {% endif %}
                            {% else %}
                            <p class="text-truncate"><strong>{{notification.notification_object.contents}}</strong></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

<!-- For the notification counter -->
{% block notification_count %} 
    {{ notification_count }}
{% endblock %}

<!-- Main segment of HTML document -->
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <div class="card">
                <div class="container">
                    <!-- Heading -->
                    <div class="row">
                        <div class="col">
                            <em><p class="lead text-center">You searched for: '{{query}}'</p></em>
                        </div>
                    </div>
                    <!-- The suggestions -->
                    <div class="row">
                        <div class="col-6">
                            <h6 class="display-6 text-center">Users</h6>
                            <hr>
                            <!-- Loops though all user suggestions -->
                            {% for user_suggestion in results_data.users %}
                                <div class="row">
                                    <div class="col">
                                        <div class="container d-flex flex-wrap justify-content-center">
                                            <button type="button" class="btn d-flex flex-wrap" onclick="location.href='/profile/{{user_suggestion.username}}'">
                                                <img class="user-icon align-self-start" src="{{user_suggestion.user_pfp_url}}" alt="{{user_suggestion.username|correct_apostrophe}} Profile Picture">
                                                <p class="mt-1 ms-3 p-0 align-self-start">User: {{user_suggestion.username}}</p>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <h6 class="display-6 text-center">Categories</h6>
                            <hr>
                            <!-- Loops though all category suggestions -->
                            {% for category_suggestion in results_data.categories %}
                                <div class="row">
                                    <div class="col">
                                        <div class="container d-flex flex-wrap justify-content-center">
                                            <button type="button" class="btn d-flex flex-wrap" onclick="location.href='/page/recommended/{{category_suggestion.category_name}}/1'">
                                                <i class="bi bi-filter-circle" style="font-size: 2vw; color: #198754;"></i>
                                                <p class="ms-3" style="margin-top: 12px;">Category: {{category_suggestion.category_name}}</p>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col d-flex justify-content-center m-1">
                            {% if increment.current <= 1 %}
                                <button type="button" class="btn btn-success m-1" onclick="location.href='/search/{{query}}/{{increment.previous}}'" disabled><i class="bi bi-caret-left-fill"></i></i></button>
                            {% else %}
                                <button type="button" class="btn btn-success m-1" onclick="location.href='/search/{{query}}/{{increment.previous}}'"><i class="bi bi-caret-left-fill"></i></i></button>
                            {% endif %}

                            <p class="lead m-1">{{increment.current}}</p>
                            <button type="button" class="btn btn-success m-1" onclick="location.href='/search/{{query}}/{{increment.next}}'"><i class="bi bi-caret-right-fill"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- To store notifications -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="inbox">

</div>
{% endblock %}