/* For the buttons on the carousel */
.carousel-button {
    width: 40%;
    border-radius: 5px;
}

/* For the font types */
.font-default, .font-strong, .font-italic {
    font-family: Arial, Helvetica, sans-serif;
}

.font-strong {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-corier-new {
    font-family: 'Courier New', Courier, monospace;
}

.font-comic-sans-ms {
    font-family: 'Comic Sans MS', cursive;
}

.font-impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-palatino-linotype {
    font-family: 'Palatino Linotype', serif;
}