{% load crispy_forms_tags %}
<style>
ul{
    list-style-type: none;
    padding-left: 40px;
}
.custom-icon {
    position: relative;
    padding-left: 30px; /* Space for custom bullet */
}
.custom-icon i {
    position: absolute;
    left: 0;
}
body.no-scroll {
    overflow: hidden;
}
#conversationFrame.no-scroll {
    overflow: hidden;
}
</style>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Arabali</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <a href="/page/recommended/all/1" role="button" class="display-6 link-success link-offset-2 link-underline-opacity-0">Arabali</a>
                        </div>
                        <div class="col-4">
                            <form method="post" id="search-bar-form">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" id="search-bar" class="form-control" placeholder="Search..." autocomplete="off">
                                        </div>
                                        <div class="col-3">
                                            <button type="button" id="search-button" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasnav" aria-controls="offcanvasnav" style="height: 40px; width: fit-content;">
                                        <div class="fs-2"><i class="bi bi-list" style="color: #198754;"></i></div>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasnotify" aria-controls="staticBackdrop" id="notification-button">
                                        <div class="fs-2"><i class="bi bi-bell-fill" id="bell-icon" style="color: #198754;"></i></div>
                                        <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notification-counter">{% block notification_count %}{% endblock %}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasnav" aria-labelledby="offcanvasnav">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"><p class="lead">More</p></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-2">
                            <ul>
                                {% block profile %}{% endblock %}
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-rss-fill" style="color: #787878;"></i></div> <a href="/page/recommended/all/1" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Feed</p></a></li>
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-chat-text" style="color: #787878;"></i></div> <a href="/chat/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Messages</p></a></li>
                                {% block settings %}{% endblock %}
                                <li class="custom-icon"><div class="fs-4"><i class="bi bi-box-arrow-right" style="color: #787878;" ></i></div> <a href="/logout/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p class="lead">Logout</p></a></li>                       
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasnotify" aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="notification-inbox" style="overflow-y: auto;">
                    {% block notifications %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 p-0">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <h6 class="display-6 ms-3">Users & Groups<hr></h6>
                        <button class="btn btn-outline-success ms-5 mb-3" onclick='location.href="/create_chat_room/1/"'><i class="bi bi-pencil-square" style="font-size: 2.5rem;"></i></button>
                        {% block chatrooms %}
                        {% endblock %}
                    </div>
                </nav>
            </div>
            <div class="col-9 mt-3">
                {% block conversation %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>