django==5.0.6
channels==4.1.0
daphne==4.1.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
pillow==10.3.0
moviepy==1.0.3
pytz==2024.1
pandas
python-dotenv
llama-index
llama-index-llms-ollama
llama-index-llms-gemini
llama_parse
huggingface_hub
google-generativeai