/* For the file drop input field */
.file-drop-input.valid-media {
    border-color: #198754;
}

.file-drop-input.invalid-media {
    border-color: #dc3545;
    background-color: rgba(255, 201, 206, 0.777);
}

/* For the validation of warning messages */

.warning-message {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
